USE [FoodieDB]
GO
/****** Object:  StoredProcedure [dbo].[Cart_Crud]    Script Date: 9/12/2025 1:01:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Cart_Crud]
@Action VARCHAR(10),
@ProductId INT = NULL,
@Quantity INT = NULL,
@UserId INT = NULL

AS
BEGIN
SET NOCOUNT ON;

   -- SELECT--
IF  @Action ='SELECT'
     BEGIN
	   SELECT c.ProductId, p.Name, p.ImageUrl, p.Price, c.Quantity,c.Quantity  AS Qty, p.Quantity AS PrdQty 
	   FROM  dbo.Carts c
	   INNER JOIN dbo.Products p ON p.ProductId = c.ProductId
	   WHERE c.UserId = @UserId 
     END

	-- INSERT--
IF  @Action ='INSERT'
     BEGIN
	  INSERT INTO dbo.Carts(ProductId, Quantity, UserId)
	   VALUES(@ProductId,@Quantity,@UserId)

	   END


	   --UPDATE--
       BEGIN
	  IF  @Action ='UPDATE'
      UPDATE dbo.Carts
	  SET Quantity = @Quantity
	  WHERE UserId=@UserId AND ProductId=@ProductId
	  END

	  --dELETE--
	     BEGIN
	  IF  @Action ='DELETE'
     DELETE FROM dbo.Carts
	  WHERE UserId=@UserId AND ProductId=@ProductId
	  END


   --gET pRODUCT ID
 IF  @Action ='GETBYID'
     BEGIN
	   SELECT *
	   FROM  dbo.Carts
	   WHERE UserId=@UserId AND ProductId=@ProductId
     END

END